body {
    background-color: peachpuff;
    color: teal;
    font-family: tahoma, monospace;
    font-size: 1vw;
    text-align: center;
}

.image {
    width: 20vw;
    height: 20vw;
}

.icon {
    width: 5vw;
    height: 5vw;
    display: inline-block;
}

ul {
    text-align: left;
    display: inline-block;
    list-style-position: inside;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

hr{
    display: block;
    height: 0.1vw;
    background-color: teal;
}

header {
    z-index: 2;
    background: teal;
    opacity: 1;
    position: fixed;
    right: 0vw;
    left: 0vw;
    top: 0vw;
}

h1 {
    font-size: 2vw;
}

div.a {
    z-index: 1;
    position: relative;
    top: 8vw;
}

.whitetext {
    color: peachpuff;
    font-size: 1vw;
}

a{
    text-decoration: none;
}

#cvlocation {
    scroll-margin-top: 10vw;
  }

#contact{
    scroll-margin-top: 10vw;
}
